<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test" verbose="1">
    <test name="QuadrangleCalculatorTest">
        <classes>
            <class name="test.metelski.quadrangle.action.QuadrangleCalculatorTest"/>
        </classes>
    </test>
    <test name="ValidateTest">
        <classes>
            <class name="test.metelski.quadrangle.validate.CheckStringFromFileTest"/>
        </classes>
    </test>
</suite>