<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test" verbose="1">
    <test name="TestTextComposite">
        <classes>
            <class name="test.metelski.compositechain.entity.TestTextComposite"/>
        </classes>
    </test>
     <test name="TestSymbolParser">
        <classes>
            <class name="test.metelski.compositechain.parser.SymbolParserTest"/>
        </classes>
    </test>
    <test name="TestSymbolParser">
        <classes>
            <class name="test.metelski.compositechain.parser.LexemeParserTest"/>
        </classes>
    </test>
</suite>