<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test" verbose="1">
    <test name="TestTextComposite">
        <classes>
            <class name="test.metelski.compositechain.entity.TestTextComposite"/>
        </classes>
    </test>
     <test name="TestSymbolParser">
        <classes>
            <class name="test.metelski.compositechain.parser.SymbolParserTest"/>
        </classes>
    </test>
    <test name="TestLexemeParser">
        <classes>
            <class name="test.metelski.compositechain.parser.LexemeParserTest"/>
        </classes>
    </test>
     <test name="TestSentenceParser">
        <classes>
            <class name="test.metelski.compositechain.parser.SentenceParserTest"/>
        </classes>
    </test>
    <test name="TestParagraphParser">
        <classes>
            <class name="test.metelski.compositechain.parser.ParagraphParserTest"/>
        </classes>
    </test>
     <test name="TestTextCalculator">
        <classes>
            <class name="test.metelski.compositechain.action.TextCalculatorTest"/>
        </classes>
    </test>
    <test name="TestTextCompositeSort">
        <classes>
            <class name="test.metelski.compositechain.action.TextCompositeSortTest"/>
        </classes>
    </test>
      <test name="TestFindSentenceWithLongestWord">
        <classes>
            <class name="test.metelski.compositechain.action.FindSentenceWithLongestWordTest"/>
        </classes>
    </test>
    <test name="TestCompositeAction">
        <classes>
            <class name="test.metelski.compositechain.action.CompositeActionTest"/>
        </classes>
    </test>
</suite>